<!doctype html>
<html lang="zh_CN">

<header>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{config.SITENAME}}</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='prettify.css') }}" type="text/css">
	<script type="text/javascript" charset="utf-8" src="{{ url_for('static',filename='prettify.js') }}">
		
	</script>
</header>
<body onload="prettyPrint()">
<div class="page">
	<h1 id="flaskr"><a href="{{ url_for('show_entries') }}">{{config.SITENAME}}</a></h1>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message|safe }}</div>
	{% endfor %}
	
	{% block body %}{% endblock %}
	
	{% block footer %}
	<div class="footer">
		Powered by <a href="https://github.com/mitsuhiko/flask/tree/master/examples/flaskr/" target="_blank">Flaskr</a>&nbsp;and&nbsp;<a href="https://buyvm.net" target="_blank">BuyVM.net</a>&nbsp;|&nbsp;
		{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">log in</a>
		{% else %}
			<a href="{{ url_for('logout') }}">log out</a>
		{% endif %}&nbsp;|&nbsp;
		<a href="/">about</a>
	</div>
	{% endblock %}
</div>
</body>
</html>