﻿body {
	margin: 0;
	padding:30px 200px;
	width: auto;
	top:10px;
	position:relative;
	font-family: '微软雅黑','sans-serif';
	background: #eee;
}

h1 {font-size:2.6em;}
h2 {font-size:1.8em;}
h3 {font-size:1.2em;}
h4 {font-size:1em;}

a, h1, h2, h3, h4 {
	margin:0px;
	font-family: 'Georgia', 'serif';
	color: #377BA8;
	text-align:left;
}

h2, h3 ,h4 {border-bottom: 1px solid #eee;}

p {
	font-size:0.8em;
	line-height:1.5em;
}

li{
    font-size:0.8em;
    line-height:1.5em;
}

a:link {
	text-decoration:none;
}

/* layout */


.flash {
	background: #CEE5F5;
	padding: 0.5em;
	border: 1px solid #AACBE2;
	text-align:center;
}

.error {
	background: #F0D6D6;
	padding: 0.5em;
}

/* Page */

#page {
	margin: 0 auto; 
	min-width: 740px;
	max-width: 1240px;
	position:relative;
	border: 5px solid #ccc;
	background: white;
}

/* header */

#header {
	margin:0px;
	height:95px;
	position:relative;
}

#headerlogo {
	top:20px;
	position:relative;
	margin:0px 20px;
}

div.description {
	color:#bab;
	position:relative;
	bottom:0px;
	border-bottom:1px solid #ccc;
}


/* container */
#container {
	margin:10px 5px;
	padding:10px 15px;
	position:relative;
}

/* content */

#content {
	list-style: none;
	margin: 0;
	padding: 0px 10px;
	position:relative;
	margin-bottom:1em;
}

/* Posts */

.post {
	margin:0px;
	padding:5px 10px;
	position:relative;
	margin-bottom:1em;

}

.postmetadata {
	text-align:left;
	font-size:0.8em;
	color:#bbb;
	top:1px;
	text-indent:1em;
	position:relative;
}

.postentry {
	margin:5px 5px;
	padding:5px 5px;
}

.comments {
	margin:5px 20px;
	padding:5px 20px;
	background: #fafafa;
	border-top:1.5px solid #ccc;
	border-bottom:1px solid #ccc;
}

.commentsform, ._comment {
	margin:5px 5px 10px 5px;
	padding:5px 5px 10px 5px;
	border-bottom:1px solid #ccc;
}

.commentauthor {
	text-align:left;
	font-size:0.5em;
	color:#bbb;
}

.commentmetadata {
    margin-top:5px;
	text-align:left;
	font-size:0.5em;
	color:#bbb;
}

.commententry {
    padding-top:20px;
	margin-top:20px;
	margin-bottom:5px;
}



.add-entry        -size: 0.9em;
	border-bottom: 1px solid #ccc;
}

.add-entry dl {
	font-weight: bold;
}

.metanav {
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
	background: #fafafa;
}



/* footer */

.footer {
	margin:0px;
	padding:5px 0px;
	background: #fafafa;
	text-align: center;
	font-size: 0.8em;
}