{% extends "layout.html" %}


{% block body %}


{% for archive in archives %}

<div>
	<div>
		<a href="/posts/{{archive.archive_id}}">{{archive.title}}</a>
	</div>
	<div>
		{{archive.archive_id}}
	</div>
</div>

{% endfor %}


{% endblock %}