<!doctype html>
<html lang="zh_CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{config.SITENAME}}</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='prettify.css') }}" type="text/css">
	<script type="text/javascript" charset="utf-8" src="{{ url_for('static',filename='prettify.js') }}"></script>
</head>

<body onload="prettyPrint()" class="body" >
	
<div id="page">
	
	<header id="header">
		<div id="headerlogo">
			<h1><a href="/">{{config.SITENAME}}</a></h1>
			<div class="description">点点滴滴，快乐生活</div>
		</div>
    </header>
	
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message|safe }}</div>
	{% endfor %}
	<div id="container">
		<div id="content">
			{% block body %} {% endblock %}
		</div>
    </div>


	{% block adsense%}
		{% include "adsense.html" %}
	{% endblock %}

	{% block footer %}
	<div class="footer">
		Powered by <a href="https://github.com/mitsuhiko/flask/tree/master/examples/flaskr/" target="_blank">Flaskr</a>&nbsp;and&nbsp;<a href="https://buyvm.net" target="_blank">BuyVM.net</a>&nbsp;|&nbsp;
		{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">log in</a>
		{% else %}
			<a href="{{ url_for('logout') }}">log out</a>
		{% endif %}&nbsp;|&nbsp;
		<a href="/about">about</a>
	</div>
	{% endblock %}
	
</div>
</body>
</html>