﻿{% extends "layout.html" %}

{% block body %}

    {% if session.logged_in %}
    <form action="/posts/" method="post" accept-charset="utf-8" class=post_api>
        <dl>
            <dt>Title:
                <dd><input type="text" name="title" size=30>&nbsp;&nbsp;<label for="comment_on" ><input name="comment_on" type="radio" id="comment_on" value="True"  checked='checked' /> 允许评论&nbsp;&nbsp;<input name="comment_on" type="radio" id="comment_on" value="False" > 关闭评论</label>
            <dt>Text:
                <dd><textarea name="text" rows="5" cols="40" id="entries_text"></textarea>
                <dd><input type="submit" value=Share onclick="_replace()">
        </dl>
                        <script type="text/javascript" charset="utf-8">
                        function _replace() {
                            reg = new RegExp("\n","g");
                            content = document.getElementById('entries_text').value;
                            replaced_content = content.replace(reg,"\</p>\<p>");
                            document.getElementById('entries_text').value = replaced_content;
                        }
                        </script>
    </form>
    {% endif %}


    {% for entry in objects[2][:6] %}
    <div class="post-{{entry.post_id}} post" id="post-{{entry.post_id}}">
        <h2 class="posttitle"><a href="/posts/{{entry.post_id}}" title="{{entry.title}}">{{entry.title}}</a></h2>
        <div class="postmetadata">
            <!-- <span class="postauthor">show the postauthor</span> -->
            <span class="postdate">{{entry.created}}</span>
        </div>
        <div class="postentry">
            <p>{{entry.text[:100]|safe}}</p>
            <p><a href="/posts/{{entry.post_id}}">&nbsp;&nbsp;read more&nbsp;»</a></p>
        </div>
    </div>
    {% else %}
    <li><em>Unbelievable. No entries here so far</em></li>
    {% endfor %}


<div style="margin-top:20px;border-bottom:1px solid #ccc;">

{% if objects[1].maxpage > 1 %}
	{% if objects[0].page == 1 %}
	<table style="text-align:right;width:100%">
    	<tr>
        	<td width=50%;align="right";><a href="/pages/{{objects[0].page+1}}">Next&nbsp;»</a></td>
		</tr>
	</table>
	{% elif objects[0].page == objects[1].maxpage%}
	<table style="width:100%">
		<tr>
			<td width=45%;><a href="/pages/{{objects[0].page-1}}">«&nbsp;Back</a></td>
			<td style="width:50%;color:#bbb;">{{objects[0].page}}/{{objects[1].maxpage}}</td>
		</tr>
	</table>

	{% else %}
	<table style="width:100%">
    	<tr>
        	<td width=45%;>
				<a href="/pages/{{objects[0].page-1}}">«&nbsp;Back</a></td>
				<td style="width:50%;color:#bbb;">{{objects[0].page}}/{{objects[1].maxpage}}</td>
				<td><a href="/pages/{{objects[0].page+1}}">Next&nbsp;»</a></td>
			</tr>
		</table>
	{% endif %}
{% else %}
{% endif %}
</div>
{% endblock %}