﻿{% extends "layout.html" %}


{% block body %}

{% for po in post%}

<div class="post" id="post-{{po.post_id}}">
		<h2 class="posttile">{{po.title}}</h2>
		<div class="postmetadata">{{po.created}}</div>
		<div class="postentry">
			<p>{{po.text|safe}}</p>
			</div>
	</div>
	<div class=comments>
		{% if po.comment_on==True %}
		<h3>评论</h3>
		<div class="commentsform">
		<form id="comments" action="add_comments" method="post" accept-charset="utf-8">
			<dt><input type="text" name="author" size="10"> 昵称（必填）:
				<dt><textarea name="text" rows="5" cols="65" id="comment_text"></textarea>
					<dt><input type="submit" value="Post" onclick="_replace();">
						<dt><input type="hidden" name="comment_post_id" id="comment_post_id" value="{{po.post_id}}">
						<script type="text/javascript" charset="utf-8">
						function _replace() {
							reg = new RegExp("\n","g");
							content = document.getElementById('comment_text').value;
							replaced_content = content.replace(reg,"\</p>\<p>");
							document.getElementById('comment_text').value = replaced_content;
						}
						</script>
            	</form>
		</div>
		{% endif %}
		
		{% for comment in po.comments %}
		<div class="_comment" style="position:relative;">
			<div class="commentmetadata" style="position:relative;">
				<div style="float:left;;width:auto;height:12px;"><span class="commentauthor"><h4>{{comment.author}}:</h4></span></div>
				<div style="position:absolute;top:14px;left:0px;height:20px;"><span class="commentdate">{{comment.created}}</span></div>
			</div>
			<div class="commententry" style="position:relative;">
				<p>{{comment.text|safe}}</p>
			</div>
		</div>
		{% endfor %}
</div>
{% endfor%}

{% endblock %}
