﻿{% extends "layout.html" %}

{% block body %}

    {% if session.logged_in %}
    <form action="{{url_for('add_entry')}}" method="post" accept-charset="utf-8" class=add-entry>
        <dl>
            <dt>Title:
                <dd><input type="text" name="title" size=30>&nbsp;&nbsp;<label for="comment_on" ><input name="comment_on" type="radio" id="comment_on" value="True"  checked='checked' /> 允许评论&nbsp;&nbsp;<input name="comment_on" type="radio" id="comment_on" value="False" > 关闭评论</label>
            <dt>Text:
                <dd><textarea name="text" rows="5" cols="40" id="entries_text"></textarea>
                <dd><input type="submit" value=Share onclick="_replace()">
        </dl>
                        <script type="text/javascript" charset="utf-8">
                        function _replace() {
                            reg = new RegExp("\n","g");
                            content = document.getElementById('entries_text').value;
                            replaced_content = content.replace(reg,"\</p>\<p>");
                            document.getElementById('entries_text').value = replaced_content;
                        }
                        </script>
    </form>
    {% endif %}


    {% for entry in entries[:6] %}
    <div class="post-{{entry.post_id}} post" id="post-{{entry.post_id}}">
        <h2 class="posttitle"><a href="/posts/{{entry.post_id}}" title="{{entry.title}}">{{entry.title}}</a></h2>
        <div class="postmetadata">
            <!-- <span class="postauthor">show the postauthor</span> -->
            <span class="postdate">{{entry.created}}</span>
        </div>
        <div class="postentry">
            <p>{{entry.text[:60]|safe}}</p>
            <p><a href="/posts/{{entry.post_id}}">&nbsp;&nbsp;read more&nbsp;»</a></p>
        </div>
    </div>
    {% else %}
    <li><em>Unbelievable. No entries here so far</em>
    {% endfor %}
	    {% if entries|length > 6 %}
		<a href="/pages/1">Next</a>
		{% endif %}

{% endblock %}